@font-face {
    font-family: kozuka;
    src: url('../fonts/KozGoPr6N-Bold.otf');
}

.page{

    margin: auto;

}

body, html {
    width: 95%;
    font-family: 'MS Sans Serif', Arial, Verdana, sans-serif;
    margin: auto;
    padding: 0;
    background-image: url("../Images/background.png");
    background-repeat: repeat-x;

}

.headerLine {
    background-color: #438ce5;
    margin: 0 50px;
    height: 2px;
    clear: both;
}

header img.logo {
    margin: 2% 7%;
    width: 20%;
    height: 20%;
    float: left;
}

header .headline {
    text-align: right;
    float: right;
    font-size: 180%;
    margin-top: 5%;
    margin-right: 5%;
}

header .userdata {
    text-align: right;
    float: right;
    font-size: 120%;
    margin-top: 5%;
    margin-right: 5%;
}

header .userdata .a_sign_out, header .userdata .username
{
    font-weight: bold;
}

.signInForm {
    
    padding-bottom: 1000px;
    clear: both;
    font-size: 22px;
}

a {
    color: #214ea5;
    text-decoration: none;
}

a.selected {
    color: #2a61e1;
}

.boxes {
    width: 60%;
    height: 413px;
    margin: auto;
}

.employee_box, .director_box{
    float:left;
    position: relative;
    overflow: hidden;
    width: 33%;
    height: 100%;
    margin: auto;
}


.box_content {
    position:absolute;
    height:100%; /* = 100% - 2*10% padding */
    width:100%; /* = 100% - 2*5% padding */
    padding: 0 0;
}
.box_content .rs{
    width: auto;
    height:auto;
    max-height:100%;
    max-width:100%;
}

.box_table{
    display:table;
    height:100%;
    width:100%;
}

.box_table-cell{
    display:table-cell;
    vertical-align:middle;
    height:100%;
    width:100%;
}

.header {
    margin: 0.5% 10.4%;
    padding: 0.5% 0.5%;
    text-align: right;
}

.tabs_header {
    text-align: center;
    clear: both;
}

.tabs_header a{
    padding: 1%;
    clear: both;
}

.form {
    clear: both;
    float: left;
    background-color: rgba(95, 156, 225, 0.24);
    display: block;
    margin: 0 25%;
    padding: 3%;
    width: 44%;
    -webkit-column-count: 1;
    column-count: 1;
}

.form table
{
    border-spacing:1em;
}

.form table tr, .form table td
{
    height: 2em;
}

.form_content {
    color: #383D3D;
    text-align: left;
    width: 100%;
}

.form input, .form textarea {
    color: #022124;
    background-color: #E6E6E6;
}

.form textarea{
    margin-top: 1%;
    width: 97%;
}

form .text {
    border: none;
    width: 300px;
    height: 100%;
    padding: 2px 1px;
}

input.button {
    height: 40px;
    width: 128px;
    color: #102f6a;
    background-image: url("../Images/button.png");
    background-repeat: no-repeat;
    font-size: 100%;
    font-weight: bold;
    border:none;
    align-content: center;
    margin: auto;

}

/*form table {
    width: 1000px;
    height: 325px;
    align-self: auto;
    margin: 50px auto;
    padding: 50px;
}
form table td {
    width: 300px;
}

form table td.thin {
    width: 150px;
}*/

select {
    width: 100%;
    height: 2em;
    padding: 0.5% 1%;
    font-size: 90%;
    color: #102f6a;
    background-image: url("../Images/arrow.png"); /* add your own arrow image */
    background-color: rgba(95, 156, 225, 0.27);
}
select option {
    background: rgba(95, 156, 225, 0.29);
}
select:active, select:hover {
    outline: none
}

select:active, select:hover {
    outline-color: #438ce5;
}

img.add:hover {
    
}


div.message-error, div.message-warning, div.message-info
{
    width: 350px;
    min-height: 60px;
    margin: 0.5% auto 0.5%;
    line-height: 120%;
    vertical-align: middle;
    background-position: 15px 50%;
    background-repeat: no-repeat;
    border-width: 2px;
    padding: 0.5% 0.5% 0.5% 80px;

}

div.message-error a, div.message-warning a, div.message-info a
{
    text-decoration: underline;
}

div.message-error
{
    background-image: url("../Images/color_bad.png");
    box-shadow: inset 0 0 1em #ff0000;
}
div.message-warning
{
    background-image: url("../Images/color_warning.png");
    box-shadow: inset 0 0 1em #ff8400;
}

div.message-info
{
    background-image: url("../Images/color_fine.png");
    box-shadow: inset 0 0 1em #00c918;
}

div.navigation {
    font-size: 120%;
    margin: 1% auto 1%;
    text-align: center;
}

div.navigation a
{
    color: #5b8bcc;
}

div.navigation a:hover {
    color: #5b8bcc;
    border-bottom: solid #5b8bcc 2px;
}

div.navigation a.selected {

    color: #214ea5;
    border-bottom: solid #214ea5 2px;
}
