@font-face {
    font-family: kozuka;
    src: url('../fonts/KozGoPr6N-Bold.otf');
}

.page{
    width: 1600px;
    margin: 0 auto;

}

body, html {
    font-family: kozuka, Arial, sans-serif;
    margin: 0 auto;
    padding: 0;
    background-image: url("../Images/background.png");
    background-repeat: repeat-x;

}

.headerLine {
    background-color: #225477;
    margin: 0 50px;
    height: 2px;
    clear: both;
}

header img.logo {
    margin: 20px 70px;
    float: left;
}

header .headline {
    float: right;
    font-size: 25px;
    font-family: kozuka, Arial, sans-serif;;
    margin-top: 100px;
    margin-right: 150px;
}

header .userdata {
    text-align: right;
    float: right;
    font-size: 18px;
    font-family: kozuka, Arial, sans-serif;;
    margin-top: 50px;
    margin-right: 50px;
}

.signInForm {
    
    padding-bottom: 1000px;
    clear: both;
    font-size: 22px;
}

a {
    color: #225477 ;
    text-decoration: none;
}

a.selected {
    color: #427aa1;
}

.boxes {
    width: 1200px;
    margin-top: 100px;
    margin-right: 350px;
    margin-left: 350px;
    clear: both;
}

.employee_box, .director_box{
    float:left;
    position: relative;
    overflow: hidden;
    width: 300px;
    height: 408px;
    margin:0;
}

.add_box {
    width:auto;
    height:auto;
    max-height:100%;
    max-width:100%;
}

.director_box {
    display: none;
}

.box_content {
    position:absolute;
    height:100%; /* = 100% - 2*10% padding */
    width:100%; /* = 100% - 2*5% padding */
    padding: 0 0;
}
.box_content .rs{
    width: 408px;
    height:auto;
    max-height:100%;
    max-width:100%;
}

.box_table{
    display:table;
    height:100%;
    width:100%;
}

.box_table-cell{
    display:table-cell;
    vertical-align:middle;
    height:100%;
    width:100%;
}

.header {
    margin: 0.5% 10.4%;
    padding: 0.5% 0.5%;
    background-color:#01838C;
    text-align: right;
}

.a_sign_out {
    color: #225477;
}

.tabs_header {
    text-align: center;
    clear: both;
}

.tabs_header a{
    padding: 1%;
    clear: both;
}

.form {
    clear: both;
    float: left;
    background-color: #A6B1B3 ;
    display: block;
    margin: 0 25%;
    padding: 3%;
    width: 44%;
    -webkit-column-count: 1;
    column-count: 1;
}

.form_content {
    color: #383D3D;
    text-align: left;
    width: 100%;
}

.form input, .form textarea {
    color: #022124;
    background-color: #E6E6E6;
}

.form textarea{
    margin-top: 1%;
    width: 97%;
}

form .text {
    border: none;
    width: 300px;
    height: 40px;
    padding: 2px 1px;
}

input.button {
    height: 44px;
    width: 130px;
    color: #015359;
    background-image: url("../Images/button.png");
    font-size: 90%;
    font-family: kozuka, Arial, sans-serif;
    font-weight: normal;
    border:none;
    align-content: center;
    margin: 50px auto;

}

/*form table {
    width: 1000px;
    height: 325px;
    align-self: auto;
    margin: 50px auto;
    padding: 50px;
}
form table td {
    width: 300px;
}

form table td.thin {
    width: 150px;
}*/

select {
    width: 50%; /* Set width. Do not set height else it will fail in IE8-10. Use padding for height. */
    padding: 0.5% 1%;
    font-size: 90%;
    color: #015359;
    background-image: url("../Images/arrow.png"); /* add your own arrow image */
    background-color: #CAEBED;
}
select option {
    background: #CAEBED; /* style the dropdown bg color */
}
select:active, select:hover {
    outline: none
}

/* make it red instead (with with same width and style) */
select:active, select:hover {
    outline-color: #2A8F96;
}

img.add:hover {
    
}


div.message-error
{
    width: 450px;
    height: auto;
    margin: auto;
    background-color: red;
}

div.message-warning
{
    width: 450px;
    height: auto;
    margin: auto;
    background-color: orange;
}

div.message-info
{
    width: 450px;
    height: auto;
    margin: auto;
    background-color: green;
}