@font-face {
    font-family: kozuka;
    src: url('../fonts/KozGoPr6N-Bold.otf');
}

.page{

    margin: auto;

}

body, html {
    width: 95%;
    font-family: 'MS Sans Serif', Arial, Verdana, sans-serif;
    margin: auto;
    padding: 0;
    background-image: url("../Images/background.png");
    background-repeat: repeat-x;

}

.headerLine {
    background-color: #438ce5;
    margin: 0 50px;
    height: 2px;
    clear: both;
}

header img.logo {
    margin: 2% 7%;
    width: 20%;
    height: 20%;
    float: left;
}

header .headline {
    text-align: right;
    float: right;
    font-size: 180%;
    margin-top: 5%;
    margin-right: 5%;
}

header .userdata {
    text-align: right;
    float: right;
    font-size: 120%;
    margin-top: 5%;
    margin-right: 5%;
}

header .userdata .a_sign_out, header .userdata .username
{
    font-weight: bold;
}


a {
    color: #214ea5;
    text-decoration: none;
}

a.selected {
    color: #2a61e1;
}

.boxes {
    width: 60%;
    height: 413px;
    margin: 3% auto 3%;
}

.employee_box, .director_box{
    float:left;
    position: relative;
    overflow: hidden;
    width: 30%;
    padding-bottom: 30%;
    background-color: #3a86d0;
    margin: 0%;

    -webkit-box-shadow: inset 0px 0px 200px 50px rgba(0,0,0,0.15);
    -moz-box-shadow:    inset 0px 0px 200px 50px rgba(0,0,0,0.15);
    box-shadow:         inset 0px 0px 200px 50px rgba(0,0,0,0.15);
}

.employee_box:hover, .director_box:hover{
    -webkit-box-shadow: inset 0px 0px 200px 50px rgba(0,0,0,0.05);
    -moz-box-shadow:    inset 0px 0px 200px 50px rgba(0,0,0,0.05);
    box-shadow:         inset 0px 0px 200px 50px rgba(0,0,0,0.05);
}

.employee_box.left, .director_box.left {
    border-left: solid 3px;
    border-bottom: solid 3px;
    border-top: solid 3px;
    border-right: none;

    border-bottom-left-radius: 10%;
    border-top-left-radius: 10%;
}

.employee_box.middle, .director_box.middle {
    border-right: none;
    border-bottom: solid 3px;
    border-top: solid 3px;
    border-left: none;
}

.employee_box.right, .director_box.right {
    border-right: solid 3px;
    border-bottom: solid 3px;
    border-top: solid 3px;
    border-left: none;

    border-bottom-right-radius: 10%;
    border-top-right-radius: 10%;
}


.box_content {
    position:absolute;
    height:90%; /* = 100% - 2*10% padding */
    width:90%; /* = 100% - 2*5% padding */
    padding: 5%;
    text-align: center;
    color: black;
    font-size: 150%;
}

.box_content a {
    color: black;
}

.box_content a:hover {
    color: black;
}



.box_content span.narrow{
    font-weight: lighter;
    font-size: 70%;
}
.box_content .rs{
    width: 50%;
    max-width:50%;
    margin-bottom: 5%;


}

.box_table{
    display:table;
    height:100%;
    width:100%;
}

.box_table-cell{
    display:table-cell;
    vertical-align:middle;
    height:100%;
    width:100%;
}

.header {
    margin: 0.5% 10.4%;
    padding: 0.5% 0.5%;
    text-align: right;
}

.tabs_header {
    text-align: center;
    clear: both;
}

.tabs_header a{
    padding: 1%;
    clear: both;
}

.form {
    clear: both;
    float: left;
    background-color: rgba(95, 156, 225, 0.24);
    display: block;
    margin: 0 17%;
    padding: 3%;
    width: 60%;
    -webkit-column-count: 1;
    column-count: 1;
}

.form table
{
    border-spacing:1em;
    width: 100%;
}

.form table tr, .form table td
{
    width: auto;
    height: 2em;
}

.form_content {
    color: #383D3D;
    text-align:  left;
    width: 100%;
}

.form input, .form textarea {
    color: #022124;
    background-color: #E6E6E6;
}

.form textarea{
    margin-top: 1%;
    width: 99%;
    height: 4em;
}

form .text {
    border: none;
    width: 100%;
    height: 100%;
    padding: 2px 1px;
}

form .button {

    border: solid 1px;
    border-radius: 8px;
    border-color: #2f5e9d;
    color: #102f6a;
    background-image: linear-gradient(#95BAE1, #6ba0db);
    padding: 2% 6% 2% 6%;
    font-size: 100%;
    font-weight: bold;
    text-align: center;
    margin: auto;

}
form .button:hover {

    background-image: linear-gradient(#6ba0db, #95BAE1);
}

table.information {
    clear: both;
    float: left;
    background-color: rgba(95, 156, 225, 0.24);
    display: table;

    margin: 0 10% 1%;
    padding: 3%;
    width: 80%;
}

table.information th {
    padding-bottom: 2%;
    border-bottom: solid 2px rgba(95, 156, 225, 0.36);
}

table.information td.buttons {
    text-align: center;
}

table.information td {
    padding-top: 0.5%;
    padding-bottom: 0.5%;
    padding-right: 1%;
    padding-left: 1%;
    border-bottom: solid 1px rgba(95, 156, 225, 0.3);
}

table.information td.number {
    text-align: right;
    font-weight: bold;
}



/*form table {
    width: 1000px;
    height: 325px;
    align-self: auto;
    margin: 50px auto;
    padding: 50px;
}
form table td {
    width: 300px;
}

form table td.thin {
    width: 150px;
}*/

select {
    width: 100%;
    height: 2em;
    padding: 0.5% 1%;
    font-size: 90%;
    color: #102f6a;
    background-image: url("../Images/arrow.png"); /* add your own arrow image */
    background-color: rgba(95, 156, 225, 0.27);
}
select option {
    background: rgba(95, 156, 225, 0.29);
}
select:active, select:hover {
    /*outline: none*/
}

select:active, select:hover {
    outline-color: #438ce5;
}

img.add:hover {
    
}


div.message-error, div.message-warning, div.message-info
{
    width: 350px;
    min-height: 60px;
    margin: 1% auto 1%;
    line-height: 120%;
    vertical-align: middle;
    background-position: 15px 50%;
    background-repeat: no-repeat;
    border-width: 2px;
    padding: 0.5% 0.5% 0.5% 80px;
    clear: both;

}

div.message-error a, div.message-warning a, div.message-info a
{
    text-decoration: underline;
}

div.message-error
{
    background-image: url("../Images/color_bad.png");
    box-shadow: inset 0 0 1em #ff0000;
}
div.message-warning
{
    background-image: url("../Images/color_warning.png");
    box-shadow: inset 0 0 1em #ff8400;
}

div.message-info
{
    background-image: url("../Images/color_fine.png");
    box-shadow: inset 0 0 1em #00c918;
}

div.navigation {
    font-size: 120%;
    margin: 1% auto 1%;
    text-align: center;
}

div.navigation a
{
    color: #5b8bcc;
}

div.navigation a:hover {
    color: #5b8bcc;
    border-bottom: solid #5b8bcc 2px;
}

div.navigation a.selected {

    color: #214ea5;
    border-bottom: solid #214ea5 2px;
}

h2.statistics {
    margin-top: 2%;
    text-align: center;
}

table.statistics {
    width: 45%;
    clear: both;
    float: left;
    background-color: rgba(95, 156, 225, 0.24);
    display: table;

    margin: 0 28% 3% 28%;
    padding: 3%;
}

