html, body
{
    padding: 0;
    margin: 0;
    font-family: 'MS Sans Serif', Arial, Verdana, sans-serif;
}

.clearingbox
{
    width: 100%;
    clear: both;
    height: 5px;
    background-color: #4b0000;
}



/* CONTAINING THE DESIGN */
#container {
    width: 95%;
    height: auto;
    clear: both;
    background-color: deeppink;
    background-image: url("../Images/background-frontend.png");
    background-repeat: repeat;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 1px;
    margin: auto;
}

#container h1
{
    font-size: 35px;
}

/* CONTENT PART */
.content
{
    float: left;
    width: 75%;
    max-width: 80%;
    border: none;
    height: auto;
    min-height: 500px;
    padding: 15px;
    margin: 0 1% 1% 0;
}

.content h2 {
    margin: 0;
    padding: 0 0 1% 0;
    text-align: center;
    color: #561515;
    font-size: 200%;

}

/* PRODUCT BOX */
.product-box
{
    width: 180px;
    height: 300px;
    border: solid 1px #000;
    padding: 10px;
    float: left;
    margin: 2% 1% 0% 1%;
    background-color: #e3e3e3;
    text-align: center;
}

.product-box a {
    color: #ac2929;
    text-decoration: none;
    text-align: center;
}

.product-box a:hover {
    color: #ce2a2a;
    text-decoration: none;
}

.product-box hr {
    background-color: #8a2222;
    margin: 4% 0.5% 4% 0.5%;
    height: 1px;
    clear: both;
}

.product-box img
{
    width: 150px;
    height: 150px;
    margin: 5px 15px 5px 15px;
    clear: both;
}

/* LEFT MENU PART */
#left-menu{
    /*width: 210px;*/
    width: 13.25%;
    min-width: 130px;
    height: auto;
    min-height: 500px;
    background-color: #d1d6d1;
    padding: 0%;
    float: left;
    border: solid 1px #000;
    background-image: url('../Images/menu-heading-left.png');
    background-repeat: repeat-x;
    background-position: top center;
}

.left-menu-heading
{
    /*width: 210px;*/
    width: 100%;
    /*height: 21px;*/
    height: auto;

    font-size: 17px;
    font-weight: bold;
    text-align: center;
    color: #fff;
    padding-top: 3px;
    padding-bottom: 3px;
}

#left-menu .item
{
    /*margin-top: 5px;
    margin-bottom: 5px;*/
    /*width: 210px;*/
    width: 94%;
    /*height: 21px;*/
    min-height: 21px;
    height: auto;
    text-align: left;
    color: #000;
    font-weight: bold;
    font-size: 15px;
    padding: 3%;
}

#left-menu .first
{
    text-indent: 5px;
    padding-top: 6px;
    padding-bottom: 3px;
}

#left-menu .first:hover
{
    background-color: #fff;
}

#left-menu .sub-item
{
    font-size: 14px;
    text-align: left;
    text-indent: 20px;
    font-weight: normal;
    background-color: #e3e3e3;
    border-bottom: dashed 1px #000;
    border-top: dashed 1px #000;
    margin-top: -1px;
    margin-bottom: 0px;
    padding-top: 9px;
    padding-bottom: 6px;
}

#left-menu .sub-item:hover
{
    /*background-color: #b4b4b4;*/
    background-color: #fff;
    /*background-color: #cf2e12;*/
    /*background-image: url('../Images/menu-heading-left.png');
    background-repeat: repeat-x;*/
}

.active
{
    background-color: #fff;
}

#left-menu a
{
    color: #000;
    text-decoration: none;
}

#left-menu a:hover
{
    color: #000;
}




/* INFO-BOX MESSAGE STYLES */
div.message-error, div.message-warning, div.message-info
{
    width: 350px;
    min-height: 60px;
    margin: 1% auto 1%;
    line-height: 120%;
    vertical-align: middle;
    background-position: 15px 50%;
    background-repeat: no-repeat;
    border-width: 2px;
    padding: 0.5% 0.5% 0.5% 80px;
    clear: both;

}

div.message-error a, div.message-warning a, div.message-info a
{
    text-decoration: underline;
}

div.message-error
{
    background-image: url("../Images/color_bad.png");
    box-shadow: inset 0 0 1em #ff0000;
}
div.message-warning
{
    background-image: url("../Images/color_warning.png");
    box-shadow: inset 0 0 1em #ff8400;
}

div.message-info
{
    background-image: url("../Images/color_fine.png");
    box-shadow: inset 0 0 1em #00c918;
}